@import "seattletimes";

header {
  max-width: 800px;
  margin: auto;
  padding-top: 50px;

  @media @mobile {
    padding-top: 20px;
  }


  h1 {
    margin-top: 0px;
    font-family: @df-sans;
    text-align: center;
    font-size: 38px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 60px;
    color: @light-brown;

    @media @mobile {
      font-size: 25px;
      line-height: 40px;
    }
  }

  .secondary {
    display: block;
    font-size: 80px;
    font-weight: bold;
    font-family: @df-serif;
    color: @dark-brown;

    @media @mobile {
      font-size: 40px;
    }
  }

  .header-image {
    // padding-top: 100px;
    width: 900px;
    text-align: center;
  }
}

main {
  .intro {
    max-width: 960px;
    margin: auto;
    padding-bottom: 70px;
    padding: 25px 10px 25px 10px;
    line-height: 35px;
    text-align: center;

    @media @mobile {
      padding: 30px;
      font-size: 15px;
      line-height: 21px;
      padding-top: 15px;

    }
  }

.filters {
  font-family: @df-sans;
  text-align: center;
  padding: 20px 10px 25px 10px;
  max-width: 750px;
  margin: auto;
}

.trail-info {
  max-width: 750px;
  margin: auto;
  padding: 10px;

  @media @mobile {
    padding: 0 15px 0 15px;
    font-size: 15px;
  }

  .results {
    font-family: @df-sans;
    // font-weight: bold;
    // color: @df-middle-gray;

    .resultsCounter {
      font-weight: bold;
    }
  }

  h2 {
    font-size: 35px;
    margin-bottom: 10px;
    font-style: italic;

    @media @mobile {
      font-size: 25px;
    }
  }

  h2::after {
    content: "";
    display: block;
    height: 5px;
    background-color: @light-brown;
    width: 25%;

    @media @mobile {
      width: 45%;
    }
  }

  .trail-detail {
    font-family: @df-sans;
    list-style-type: none;
    padding: 8px 0 5px 0;
    text-transform: uppercase;
    font-size: 14px;
    color: @df-middle-gray;
    font-weight: bold;
  }

  .detail-map {
    .display-flex();

    @media @mobile {
      display: block;
    }
    
    .img-caption-summary {
      .flex(0 0 70%);
      padding-right: 20px;
      padding-bottom: 10px;

      @media @mobile {
        padding-right: 0px;
        padding-bottom: 30px;
      }

      img {
        width: 100%;
      }

      .caption {
        font-size: 13px;
        font-family: @df-sans;
        display: block;
        color: @df-middle-gray;
        margin-top: 2px;

        @media @mobile {
          font-size: 12px;
        }
      }

      .summary {
        margin-top: 0px;
      }

      .button {
        font-family: @df-sans;
        text-transform: uppercase;
        padding: 10px;
        color: white;
        margin-top: 15px;
        height: 30px;
        font-size: 12px;
        background: @dark-brown;
        border: 1px solid @df-light-gray;
        border-radius: 4px;

        @media @mobile {
          width: 100px;
          height: 30px;
          margin-bottom: 10px;
        }

        &:hover, &:focus {
          background: @light-brown;
          color: black;
        }
      }
    }
    
    .map-container {
      .flex(0 0 30%);
      font-family: @df-sans;

      @media @mobile {
        display: block;
      }

      leaflet-map {
        height: 250px;
        width: 100%;

        @media @mobile {
          height: 150px;
          width: 100%;
        }

        &:not([ready]) {
          opacity: 0;
        }
      }
    }
  }
}

  hr {
    background-color: pink;
    margin: 45px 0 45px 0;
  }
}

//map styles
.locationMarker {
  background-color: #935B40;
  border-radius: 100%;
  border: 2px solid #59403B;
  opacity: .6;
  width: 16px;
  height: 16px;
  cursor: default;
}

.hidden {
  display: none;
}

.location-bar {

  @media @mobile {
    width: 100%;
  }

  label {
    font-size: 15px;
    padding-bottom: 15px;
  }

  button {
    background: none;
    border: 0px;

    img {
      height: 18px;
    }

    @media @mobile {
      width: 100%;
    }
  }

  .mobileOnlyGPS {
    display: none;

    @media @mobile {
      display: block;
      font-family: @df-sans;
      text-transform: uppercase;
      font-size: 12px;
      padding-bottom: 5px;
      color: @df-middle-gray;
      cursor: pointer;

      &:hover{
        font-weight: bold;
      }
    }

    img {
      width: 12px;
    }
  }

  .address {
    position: relative; 
    height: 33px;
    width: 380px;

    @media @mobile {
      width: 100%;
      margin-bottom: 5px;
    }
  }

  .gpsIcon {
    position: relative;
    display: inline-block;
    width: 20px;
    cursor: pointer;
    right: 28px;
    top: 6px;
    opacity: .7;

    &:hover {
      opacity: 1;
    }

    @media @mobile {
      display: none;
    }
  }

  .addressGo {
    position: relative;
    background-color: @light-brown;
    padding: 9.5px;
    font-weight: bold;
    cursor: pointer;
    right: 30px;

    &:hover {
      background-color: @dark-brown;
      color: white;
    }

    @media @mobile {
      right: 0px;
      border-radius: 5px;
    }
  }

  padding-bottom: 20px;
}

.mileage-region-container {
  .display-flex();
  padding-top: 50px;

  @media @mobile {
    .flex-wrap(wrap);
    padding-top: 10px;
  }

  select {
    height: 30px;
    background-color: white;
    font-size: 14px;
    border: 1px solid @df-light-gray;
  }

  .searchByMileage {
    .flex(0 0 60%);

    .milesFilter {
      .display-flex();
      margin-left: auto;

      @media @mobile {
        width: 100%;
      }
    }

    @media @mobile {
      width: 100%;
      .flex(0 0 100%);
      padding-bottom: 10px;
      margin:0px;
    }
  }

  .searchByRegion {
    .flex(0 0 40%);
    .display-flex();
    margin-right: auto;

    @media @mobile {
      .flex(0 0 100%);
      padding-bottom: 5px;
    }

    .regionsList {
      @media @mobile {
        width: 100%;
      }
    }
  }
}

.credits {
  font-family: @df-sans;
  font-size: 14px;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.break {
  display: block;
}