<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html") %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_nav.html") %>
  </head>
  <body>

     <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <header>
    
      <h1>Guide to Washington&rsquo;s<span class="secondary">hiking trails</span></div></h1>
        <img class="header-image" src="./assets/hiking-trail.jpg">
    </header>
    <main>

      <p class="intro">
        Whether you like walks in the woods or multiday backpacks, “getting closer to nature” is a core value of many Washingtonians. Like a hiker on Mount Si, The Seattle Times keeps on pushing when it comes to covering old-favorite hikes as well as new discoveries. Here’s a collection of such reports – and we’ll keep adding more. Before any hike, check with <a href="www.wta.org">Washington Trails Association</a> for the latest on conditions and access. Happy trails!
      </p>

      <div class="filters">

          <div class="location-bar">
            <div class="mobileOnlyGPS">
              <img class="mobile-GPS-icon" src="./assets/gps.svg"> Current location
            </div>

            <input class="address" placeholder="Enter your location to sort trails by proximity to you">
            <img class="gpsIcon" src="./assets/gps.svg">
            <button class="addressGo">GO</button>
          </div>

          <div class="mileage-region-container hidden">

          <!-- by region -->

          <%
            var regions = [];

            function isInArray(regions, region_name) {
              return regions.indexOf(region_name) > -1;
            }

            json.trails.forEach(function(k) {
              var region_name = k.region;
              if (!isInArray(regions, region_name)) {
                regions.push(region_name);
              }
            }) %>

          <div class="searchByRegion ">
              <select class="regionsList">
                <option value="">
                  Filter by region
                </option>
              <% for (var i=0; i < regions.length; i++) { %>
                <option value="<%= regions[i] %>">
                  <%= regions[i] %>
                </option>
              <% } %>
              </select>
            </div>

            <div class="searchByMileage">
                <select class="milesFilter">
                  <option value = "">Filter by hike length</option>
                  <option value = "1;5">1 - 5 miles, roundtrip</option>
                  <option value = "6;10"> 6 - 10 </option>
                  <option value = "11;15"> 11 - 15
                  <option value = "16;1000">16+</option>
                </select>
            </div>
          </div>

          <!-- end of by region -->
        </div>

      <section class="trail-info">
        <div class="results">
          <% 
            var trailsList = json.trails;
            for (var i=1; i <= trailsList.length; i++){
              var counter = i;
            };
          %>

          <span class="resultsCounter"><%= counter %></span> hiking trail(s)</span>
        </div>

        <%
          json.trails.forEach(function(x) { %>

          <div miles="<%= x.miles %>" region="<%= x.region %>" class="trail">
            <h2><%= x.name %></h2>

            <ul class="trail-detail">
              <li>Distance: <%= x.miles %> miles, roundtrip</li>
              <li>Elevation gain: <%= x.elevation %> ft.</li>
            </ul>

              <div class="detail-map">
                <div class="img-caption-summary">
                  <% if (x.image) { %>
                  <img src="./assets/trailphotos/<%= x.image %>.jpg">
                  <p class="caption"><%= x.caption%></p>
                  <% } %>

                  <p class="summary">
                    <%= x.summary %>
                  </p>

                  <a href="<%= x.link %>" class="button">Read more</a>
                </div>

                <div class="map-container">
                  <leaflet-map zoom="7" lat="<%= x.lat %>" lng="<%= x.lng %>">

                    <tile-layer layer="esriTopographic"></tile-layer>
                      <map-options>
                       {
                         "scrollWheelZoom": false,
                         "dragging": false
                       }

                     </map-options>

            
                    <map-marker class="locationMarker" lat="<%= x.lat %>" lng="<%= x.lng %>"></map-marker>

                  </leaflet-map>
                </div>
              </div>
            <hr>
          </div>

        <% });%>

      </section>

      <div class="credits">
        Compiling by <b>Vanessa Martínez, Shirley Qiu</b> and <b>Brian J. Cantwell</b>
        <span class="break">Development by <b>Vanessa Martínez</b> and <b>Thomas Wilburn</b></span>
        <span class="break">Illustration by <b>Vanessa Martínez</b></span>
      </div>

      <%= t.include("partials/_dontMiss.html", { data: json.elsewhere }) %>

    </main>

     <div class="bottom-ad"><%= t.include("partials/_ad.html", { type: "bannerBottom" }) %></div>

    <%= t.include("partials/_navBottom.html") %>

    <script>
      window.trails = <%= JSON.stringify(json.trails) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
